
<div class="text-center"><h1>These are your cocktails</h1>

<% @cocktails.each do |cocktail| %>
<ul class="justify">
<li><%= cocktail.name %></li>
</ul>
<% end %>

<%#= link_to "Delete", cocktail_path(@cocktails),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<%= link_to( "Add Cocktail", new_cocktail_path , html_options = {class: "button btn btn-success"}) %>

</div>
