<center><%= form_for(@cocktail) do |f| %>
  <div class="form-group text-center center col-lg-4">
    <h1><%= f.label "Cocktail Name" %></h1>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.button class: "btn btn-success" %>
    <% end %>
  </div>
</center>
