// Specific CSS for your home-page

ul {
  list-style: none;
}

body {
  background-size: 100%;
  background-image: url("https://media.giphy.com/media/CeGL4W0SSOniU/source.gif");

}

h1 {
  color: white;
}
