<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/cocktails" class="navbar-wagon-brand">
    <%= image_tag("https://cdn0.iconfinder.com/data/icons/alcohol-thinline/512/vodka_bottle-01-512.png") %>
  </a>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Add a Drink", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link"  %>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <div class="avatar dropdown-toggle" id="navbar-wagon-menu">
            <%= image_tag("animat-campfire-color.gif", height: 50, width: 50, radius: 50, :aspect_ratio=>"1:1", :gravity=>"auto", :radius=>"max", :crop=>"fill") %>
        </div>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Support</a></li>
          <li><a href="#">Log out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
